body {
    background-color: #f7f7f7;
}

.items {
    background: #fffffe;
    border: 1px solid #ddd;
    max-width: 991px;
}

.items a {
    line-break: anywhere;
}

.items > .head {
    text-align: center;
    padding: 50px 0 25px 0;
}

.items > .head > img {
    max-width: 300px;
}

.items > .head > hr {
    width: 20%;
    margin: 0px 30px;
    border: 1px solid #0B5AA2;
}

.items > ul {
    padding: 10px;
    list-style: none;
}

.items > ul > li {
    padding: 10px;
    position: relative;
    display: block;
    font-size: 13px;
}

.items > ul > li > span {
    font-weight: bold;
}

.items > ul > li > ul {
    list-style: none;
    margin-top: 14px;
    border-top: 1px solid #ddd;
    margin: 15px 0 0 0;
    padding: 5px 0 0 0;
}

.items > ul > li > ul > li {
    margin: 10px 0;
}

.items > ul > li > ul > li > div {
    display: inline-block;
    margin-right: 15px;
    width: 100px;
}

.items > ul > li > ul > li > div > a {
    display: block;
}

@media (max-width: 991px) {
    .items > ul > li > ul > li > div {
        display: block;
    }
}
