@keyframes shimmer-647d60ea{0%{background-position:-200% 0}to{background-position:200% 0}}.materials[data-v-647d60ea]{display:flex;flex-direction:column;gap:var(--px15);justify-content:space-between}
