@keyframes shimmer-8fc7cb5a{0%{background-position:-200% 0}to{background-position:200% 0}}.materials[data-v-8fc7cb5a]{display:flex;flex-direction:column;gap:var(--px15);justify-content:space-between}
