@keyframes shimmer-19c6df17{0%{background-position:-200% 0}to{background-position:200% 0}}.materials[data-v-19c6df17]{display:flex;flex-direction:column;gap:var(--px15);justify-content:space-between}
