*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: auto !important;
}

body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    line-height: 1.6;
}

a {
    line-break: anywhere;
}

a[href] {
    color: inherit;
}

p {
    margin-bottom: var(--px16);
}

img {
    max-width: 100%;
}

.lined {
    border: var(--px1) solid var(--color-border);
}

.img {
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: center;
    width: 100%;
    height: 100%;
}

.no-overflow {
    overflow: hidden !important;
}

.pre-wrap {
    white-space: pre-wrap;
}

[data-bs-toggle] {
    cursor: pointer;
    font-size: var(--px15);
}

.popover {
    border-radius: var(--px6);
    border-color: var(--color-border);
}

.popover .popover-header {
    background-color: var(--color-background);
    font-size: var(--px14);
    padding-top: var(--px13);
    padding-bottom: var(--px11);
    border-bottom-color: var(--color-border);
}

.popover .popover-arrow {
    display: none;
}

.w-100px {
    width: 100px;
}

.w-200px {
    width: 200px;
}

.h-400px {
    height: 400px;
}

.mh-100px {
    max-height: 100px;
}

.mh-150px {
    max-height: 150px;
}

.mh-200px {
    max-height: 200px;
}

.mh-400px {
    max-height: 400px;
}

.mh-500px {
    max-height: 500px;
}

.fs-30px {
    font-size: var(--px30);
}

.container {
    max-width: 991px;
}

@media(max-width: 575.98px) {
    .hide-sm {
        display: none !important;
    }
}

@media(max-width: 350px) {
    html {
        font-size: 14px;
    }
}