*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: auto !important;
}

body {
    background-color: var(--color-background);
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

a {
    line-break: anywhere;
}

img {
    max-width: 100%;
}

.img {
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: center;
    width: 100%;
    height: 100%;
}

@media(max-width:350px) {
    html {
        font-size: 14px;
    }
}