:root {
    --color-background: #f6f9fc;
    --color-border: #f1f1f1;
    --color-border-frame: #1e1e1e;
    --color-primary: #0e70ff;
    --color-default: #212529;
    --color-dark: #212529;
    --color-red: #dc3545;
    --color-secondary: #6c757d;
    --color-yellow: #ffe500;
    --color-yellowgreen: #2ddf7d;
    --color-tag: #edf2fa;
    --px-radius: var(--px6);
    --shadow: var(--px4) var(--px4) var(--px10) rgba(33, 37, 41, 0.03);

    --px-700: -43.7500rem;
    --px-699: -43.6875rem;
    --px-698: -43.6250rem;
    --px-697: -43.5625rem;
    --px-696: -43.5000rem;
    --px-695: -43.4375rem;
    --px-694: -43.3750rem;
    --px-693: -43.3125rem;
    --px-692: -43.2500rem;
    --px-691: -43.1875rem;
    --px-690: -43.1250rem;
    --px-689: -43.0625rem;
    --px-688: -43.0000rem;
    --px-687: -42.9375rem;
    --px-686: -42.8750rem;
    --px-685: -42.8125rem;
    --px-684: -42.7500rem;
    --px-683: -42.6875rem;
    --px-682: -42.6250rem;
    --px-681: -42.5625rem;
    --px-680: -42.5000rem;
    --px-679: -42.4375rem;
    --px-678: -42.3750rem;
    --px-677: -42.3125rem;
    --px-676: -42.2500rem;
    --px-675: -42.1875rem;
    --px-674: -42.1250rem;
    --px-673: -42.0625rem;
    --px-672: -42.0000rem;
    --px-671: -41.9375rem;
    --px-670: -41.8750rem;
    --px-669: -41.8125rem;
    --px-668: -41.7500rem;
    --px-667: -41.6875rem;
    --px-666: -41.6250rem;
    --px-665: -41.5625rem;
    --px-664: -41.5000rem;
    --px-663: -41.4375rem;
    --px-662: -41.3750rem;
    --px-661: -41.3125rem;
    --px-660: -41.2500rem;
    --px-659: -41.1875rem;
    --px-658: -41.1250rem;
    --px-657: -41.0625rem;
    --px-656: -41.0000rem;
    --px-655: -40.9375rem;
    --px-654: -40.8750rem;
    --px-653: -40.8125rem;
    --px-652: -40.7500rem;
    --px-651: -40.6875rem;
    --px-650: -40.6250rem;
    --px-649: -40.5625rem;
    --px-648: -40.5000rem;
    --px-647: -40.4375rem;
    --px-646: -40.3750rem;
    --px-645: -40.3125rem;
    --px-644: -40.2500rem;
    --px-643: -40.1875rem;
    --px-642: -40.1250rem;
    --px-641: -40.0625rem;
    --px-640: -40.0000rem;
    --px-639: -39.9375rem;
    --px-638: -39.8750rem;
    --px-637: -39.8125rem;
    --px-636: -39.7500rem;
    --px-635: -39.6875rem;
    --px-634: -39.6250rem;
    --px-633: -39.5625rem;
    --px-632: -39.5000rem;
    --px-631: -39.4375rem;
    --px-630: -39.3750rem;
    --px-629: -39.3125rem;
    --px-628: -39.2500rem;
    --px-627: -39.1875rem;
    --px-626: -39.1250rem;
    --px-625: -39.0625rem;
    --px-624: -39.0000rem;
    --px-623: -38.9375rem;
    --px-622: -38.8750rem;
    --px-621: -38.8125rem;
    --px-620: -38.7500rem;
    --px-619: -38.6875rem;
    --px-618: -38.6250rem;
    --px-617: -38.5625rem;
    --px-616: -38.5000rem;
    --px-615: -38.4375rem;
    --px-614: -38.3750rem;
    --px-613: -38.3125rem;
    --px-612: -38.2500rem;
    --px-611: -38.1875rem;
    --px-610: -38.1250rem;
    --px-609: -38.0625rem;
    --px-608: -38.0000rem;
    --px-607: -37.9375rem;
    --px-606: -37.8750rem;
    --px-605: -37.8125rem;
    --px-604: -37.7500rem;
    --px-603: -37.6875rem;
    --px-602: -37.6250rem;
    --px-601: -37.5625rem;
    --px-600: -37.5000rem;
    --px-599: -37.4375rem;
    --px-598: -37.3750rem;
    --px-597: -37.3125rem;
    --px-596: -37.2500rem;
    --px-595: -37.1875rem;
    --px-594: -37.1250rem;
    --px-593: -37.0625rem;
    --px-592: -37.0000rem;
    --px-591: -36.9375rem;
    --px-590: -36.8750rem;
    --px-589: -36.8125rem;
    --px-588: -36.7500rem;
    --px-587: -36.6875rem;
    --px-586: -36.6250rem;
    --px-585: -36.5625rem;
    --px-584: -36.5000rem;
    --px-583: -36.4375rem;
    --px-582: -36.3750rem;
    --px-581: -36.3125rem;
    --px-580: -36.2500rem;
    --px-579: -36.1875rem;
    --px-578: -36.1250rem;
    --px-577: -36.0625rem;
    --px-576: -36.0000rem;
    --px-575: -35.9375rem;
    --px-574: -35.8750rem;
    --px-573: -35.8125rem;
    --px-572: -35.7500rem;
    --px-571: -35.6875rem;
    --px-570: -35.6250rem;
    --px-569: -35.5625rem;
    --px-568: -35.5000rem;
    --px-567: -35.4375rem;
    --px-566: -35.3750rem;
    --px-565: -35.3125rem;
    --px-564: -35.2500rem;
    --px-563: -35.1875rem;
    --px-562: -35.1250rem;
    --px-561: -35.0625rem;
    --px-560: -35.0000rem;
    --px-559: -34.9375rem;
    --px-558: -34.8750rem;
    --px-557: -34.8125rem;
    --px-556: -34.7500rem;
    --px-555: -34.6875rem;
    --px-554: -34.6250rem;
    --px-553: -34.5625rem;
    --px-552: -34.5000rem;
    --px-551: -34.4375rem;
    --px-550: -34.3750rem;
    --px-549: -34.3125rem;
    --px-548: -34.2500rem;
    --px-547: -34.1875rem;
    --px-546: -34.1250rem;
    --px-545: -34.0625rem;
    --px-544: -34.0000rem;
    --px-543: -33.9375rem;
    --px-542: -33.8750rem;
    --px-541: -33.8125rem;
    --px-540: -33.7500rem;
    --px-539: -33.6875rem;
    --px-538: -33.6250rem;
    --px-537: -33.5625rem;
    --px-536: -33.5000rem;
    --px-535: -33.4375rem;
    --px-534: -33.3750rem;
    --px-533: -33.3125rem;
    --px-532: -33.2500rem;
    --px-531: -33.1875rem;
    --px-530: -33.1250rem;
    --px-529: -33.0625rem;
    --px-528: -33.0000rem;
    --px-527: -32.9375rem;
    --px-526: -32.8750rem;
    --px-525: -32.8125rem;
    --px-524: -32.7500rem;
    --px-523: -32.6875rem;
    --px-522: -32.6250rem;
    --px-521: -32.5625rem;
    --px-520: -32.5000rem;
    --px-519: -32.4375rem;
    --px-518: -32.3750rem;
    --px-517: -32.3125rem;
    --px-516: -32.2500rem;
    --px-515: -32.1875rem;
    --px-514: -32.1250rem;
    --px-513: -32.0625rem;
    --px-512: -32.0000rem;
    --px-511: -31.9375rem;
    --px-510: -31.8750rem;
    --px-509: -31.8125rem;
    --px-508: -31.7500rem;
    --px-507: -31.6875rem;
    --px-506: -31.6250rem;
    --px-505: -31.5625rem;
    --px-504: -31.5000rem;
    --px-503: -31.4375rem;
    --px-502: -31.3750rem;
    --px-501: -31.3125rem;
    --px-500: -31.2500rem;
    --px-499: -31.1875rem;
    --px-498: -31.1250rem;
    --px-497: -31.0625rem;
    --px-496: -31.0000rem;
    --px-495: -30.9375rem;
    --px-494: -30.8750rem;
    --px-493: -30.8125rem;
    --px-492: -30.7500rem;
    --px-491: -30.6875rem;
    --px-490: -30.6250rem;
    --px-489: -30.5625rem;
    --px-488: -30.5000rem;
    --px-487: -30.4375rem;
    --px-486: -30.3750rem;
    --px-485: -30.3125rem;
    --px-484: -30.2500rem;
    --px-483: -30.1875rem;
    --px-482: -30.1250rem;
    --px-481: -30.0625rem;
    --px-480: -30.0000rem;
    --px-479: -29.9375rem;
    --px-478: -29.8750rem;
    --px-477: -29.8125rem;
    --px-476: -29.7500rem;
    --px-475: -29.6875rem;
    --px-474: -29.6250rem;
    --px-473: -29.5625rem;
    --px-472: -29.5000rem;
    --px-471: -29.4375rem;
    --px-470: -29.3750rem;
    --px-469: -29.3125rem;
    --px-468: -29.2500rem;
    --px-467: -29.1875rem;
    --px-466: -29.1250rem;
    --px-465: -29.0625rem;
    --px-464: -29.0000rem;
    --px-463: -28.9375rem;
    --px-462: -28.8750rem;
    --px-461: -28.8125rem;
    --px-460: -28.7500rem;
    --px-459: -28.6875rem;
    --px-458: -28.6250rem;
    --px-457: -28.5625rem;
    --px-456: -28.5000rem;
    --px-455: -28.4375rem;
    --px-454: -28.3750rem;
    --px-453: -28.3125rem;
    --px-452: -28.2500rem;
    --px-451: -28.1875rem;
    --px-450: -28.1250rem;
    --px-449: -28.0625rem;
    --px-448: -28.0000rem;
    --px-447: -27.9375rem;
    --px-446: -27.8750rem;
    --px-445: -27.8125rem;
    --px-444: -27.7500rem;
    --px-443: -27.6875rem;
    --px-442: -27.6250rem;
    --px-441: -27.5625rem;
    --px-440: -27.5000rem;
    --px-439: -27.4375rem;
    --px-438: -27.3750rem;
    --px-437: -27.3125rem;
    --px-436: -27.2500rem;
    --px-435: -27.1875rem;
    --px-434: -27.1250rem;
    --px-433: -27.0625rem;
    --px-432: -27.0000rem;
    --px-431: -26.9375rem;
    --px-430: -26.8750rem;
    --px-429: -26.8125rem;
    --px-428: -26.7500rem;
    --px-427: -26.6875rem;
    --px-426: -26.6250rem;
    --px-425: -26.5625rem;
    --px-424: -26.5000rem;
    --px-423: -26.4375rem;
    --px-422: -26.3750rem;
    --px-421: -26.3125rem;
    --px-420: -26.2500rem;
    --px-419: -26.1875rem;
    --px-418: -26.1250rem;
    --px-417: -26.0625rem;
    --px-416: -26.0000rem;
    --px-415: -25.9375rem;
    --px-414: -25.8750rem;
    --px-413: -25.8125rem;
    --px-412: -25.7500rem;
    --px-411: -25.6875rem;
    --px-410: -25.6250rem;
    --px-409: -25.5625rem;
    --px-408: -25.5000rem;
    --px-407: -25.4375rem;
    --px-406: -25.3750rem;
    --px-405: -25.3125rem;
    --px-404: -25.2500rem;
    --px-403: -25.1875rem;
    --px-402: -25.1250rem;
    --px-401: -25.0625rem;
    --px-400: -25.0000rem;
    --px-399: -24.9375rem;
    --px-398: -24.8750rem;
    --px-397: -24.8125rem;
    --px-396: -24.7500rem;
    --px-395: -24.6875rem;
    --px-394: -24.6250rem;
    --px-393: -24.5625rem;
    --px-392: -24.5000rem;
    --px-391: -24.4375rem;
    --px-390: -24.3750rem;
    --px-389: -24.3125rem;
    --px-388: -24.2500rem;
    --px-387: -24.1875rem;
    --px-386: -24.1250rem;
    --px-385: -24.0625rem;
    --px-384: -24.0000rem;
    --px-383: -23.9375rem;
    --px-382: -23.8750rem;
    --px-381: -23.8125rem;
    --px-380: -23.7500rem;
    --px-379: -23.6875rem;
    --px-378: -23.6250rem;
    --px-377: -23.5625rem;
    --px-376: -23.5000rem;
    --px-375: -23.4375rem;
    --px-374: -23.3750rem;
    --px-373: -23.3125rem;
    --px-372: -23.2500rem;
    --px-371: -23.1875rem;
    --px-370: -23.1250rem;
    --px-369: -23.0625rem;
    --px-368: -23.0000rem;
    --px-367: -22.9375rem;
    --px-366: -22.8750rem;
    --px-365: -22.8125rem;
    --px-364: -22.7500rem;
    --px-363: -22.6875rem;
    --px-362: -22.6250rem;
    --px-361: -22.5625rem;
    --px-360: -22.5000rem;
    --px-359: -22.4375rem;
    --px-358: -22.3750rem;
    --px-357: -22.3125rem;
    --px-356: -22.2500rem;
    --px-355: -22.1875rem;
    --px-354: -22.1250rem;
    --px-353: -22.0625rem;
    --px-352: -22.0000rem;
    --px-351: -21.9375rem;
    --px-350: -21.8750rem;
    --px-349: -21.8125rem;
    --px-348: -21.7500rem;
    --px-347: -21.6875rem;
    --px-346: -21.6250rem;
    --px-345: -21.5625rem;
    --px-344: -21.5000rem;
    --px-343: -21.4375rem;
    --px-342: -21.3750rem;
    --px-341: -21.3125rem;
    --px-340: -21.2500rem;
    --px-339: -21.1875rem;
    --px-338: -21.1250rem;
    --px-337: -21.0625rem;
    --px-336: -21.0000rem;
    --px-335: -20.9375rem;
    --px-334: -20.8750rem;
    --px-333: -20.8125rem;
    --px-332: -20.7500rem;
    --px-331: -20.6875rem;
    --px-330: -20.6250rem;
    --px-329: -20.5625rem;
    --px-328: -20.5000rem;
    --px-327: -20.4375rem;
    --px-326: -20.3750rem;
    --px-325: -20.3125rem;
    --px-324: -20.2500rem;
    --px-323: -20.1875rem;
    --px-322: -20.1250rem;
    --px-321: -20.0625rem;
    --px-320: -20.0000rem;
    --px-319: -19.9375rem;
    --px-318: -19.8750rem;
    --px-317: -19.8125rem;
    --px-316: -19.7500rem;
    --px-315: -19.6875rem;
    --px-314: -19.6250rem;
    --px-313: -19.5625rem;
    --px-312: -19.5000rem;
    --px-311: -19.4375rem;
    --px-310: -19.3750rem;
    --px-309: -19.3125rem;
    --px-308: -19.2500rem;
    --px-307: -19.1875rem;
    --px-306: -19.1250rem;
    --px-305: -19.0625rem;
    --px-304: -19.0000rem;
    --px-303: -18.9375rem;
    --px-302: -18.8750rem;
    --px-301: -18.8125rem;
    --px-300: -18.7500rem;
    --px-299: -18.6875rem;
    --px-298: -18.6250rem;
    --px-297: -18.5625rem;
    --px-296: -18.5000rem;
    --px-295: -18.4375rem;
    --px-294: -18.3750rem;
    --px-293: -18.3125rem;
    --px-292: -18.2500rem;
    --px-291: -18.1875rem;
    --px-290: -18.1250rem;
    --px-289: -18.0625rem;
    --px-288: -18.0000rem;
    --px-287: -17.9375rem;
    --px-286: -17.8750rem;
    --px-285: -17.8125rem;
    --px-284: -17.7500rem;
    --px-283: -17.6875rem;
    --px-282: -17.6250rem;
    --px-281: -17.5625rem;
    --px-280: -17.5000rem;
    --px-279: -17.4375rem;
    --px-278: -17.3750rem;
    --px-277: -17.3125rem;
    --px-276: -17.2500rem;
    --px-275: -17.1875rem;
    --px-274: -17.1250rem;
    --px-273: -17.0625rem;
    --px-272: -17.0000rem;
    --px-271: -16.9375rem;
    --px-270: -16.8750rem;
    --px-269: -16.8125rem;
    --px-268: -16.7500rem;
    --px-267: -16.6875rem;
    --px-266: -16.6250rem;
    --px-265: -16.5625rem;
    --px-264: -16.5000rem;
    --px-263: -16.4375rem;
    --px-262: -16.3750rem;
    --px-261: -16.3125rem;
    --px-260: -16.2500rem;
    --px-259: -16.1875rem;
    --px-258: -16.1250rem;
    --px-257: -16.0625rem;
    --px-256: -16.0000rem;
    --px-255: -15.9375rem;
    --px-254: -15.8750rem;
    --px-253: -15.8125rem;
    --px-252: -15.7500rem;
    --px-251: -15.6875rem;
    --px-250: -15.6250rem;
    --px-249: -15.5625rem;
    --px-248: -15.5000rem;
    --px-247: -15.4375rem;
    --px-246: -15.3750rem;
    --px-245: -15.3125rem;
    --px-244: -15.2500rem;
    --px-243: -15.1875rem;
    --px-242: -15.1250rem;
    --px-241: -15.0625rem;
    --px-240: -15.0000rem;
    --px-239: -14.9375rem;
    --px-238: -14.8750rem;
    --px-237: -14.8125rem;
    --px-236: -14.7500rem;
    --px-235: -14.6875rem;
    --px-234: -14.6250rem;
    --px-233: -14.5625rem;
    --px-232: -14.5000rem;
    --px-231: -14.4375rem;
    --px-230: -14.3750rem;
    --px-229: -14.3125rem;
    --px-228: -14.2500rem;
    --px-227: -14.1875rem;
    --px-226: -14.1250rem;
    --px-225: -14.0625rem;
    --px-224: -14.0000rem;
    --px-223: -13.9375rem;
    --px-222: -13.8750rem;
    --px-221: -13.8125rem;
    --px-220: -13.7500rem;
    --px-219: -13.6875rem;
    --px-218: -13.6250rem;
    --px-217: -13.5625rem;
    --px-216: -13.5000rem;
    --px-215: -13.4375rem;
    --px-214: -13.3750rem;
    --px-213: -13.3125rem;
    --px-212: -13.2500rem;
    --px-211: -13.1875rem;
    --px-210: -13.1250rem;
    --px-209: -13.0625rem;
    --px-208: -13.0000rem;
    --px-207: -12.9375rem;
    --px-206: -12.8750rem;
    --px-205: -12.8125rem;
    --px-204: -12.7500rem;
    --px-203: -12.6875rem;
    --px-202: -12.6250rem;
    --px-201: -12.5625rem;
    --px-200: -12.5000rem;
    --px-199: -12.4375rem;
    --px-198: -12.3750rem;
    --px-197: -12.3125rem;
    --px-196: -12.2500rem;
    --px-195: -12.1875rem;
    --px-194: -12.1250rem;
    --px-193: -12.0625rem;
    --px-192: -12.0000rem;
    --px-191: -11.9375rem;
    --px-190: -11.8750rem;
    --px-189: -11.8125rem;
    --px-188: -11.7500rem;
    --px-187: -11.6875rem;
    --px-186: -11.6250rem;
    --px-185: -11.5625rem;
    --px-184: -11.5000rem;
    --px-183: -11.4375rem;
    --px-182: -11.3750rem;
    --px-181: -11.3125rem;
    --px-180: -11.2500rem;
    --px-179: -11.1875rem;
    --px-178: -11.1250rem;
    --px-177: -11.0625rem;
    --px-176: -11.0000rem;
    --px-175: -10.9375rem;
    --px-174: -10.8750rem;
    --px-173: -10.8125rem;
    --px-172: -10.7500rem;
    --px-171: -10.6875rem;
    --px-170: -10.6250rem;
    --px-169: -10.5625rem;
    --px-168: -10.5000rem;
    --px-167: -10.4375rem;
    --px-166: -10.3750rem;
    --px-165: -10.3125rem;
    --px-164: -10.2500rem;
    --px-163: -10.1875rem;
    --px-162: -10.1250rem;
    --px-161: -10.0625rem;
    --px-160: -10.0000rem;
    --px-159: -9.9375rem;
    --px-158: -9.8750rem;
    --px-157: -9.8125rem;
    --px-156: -9.7500rem;
    --px-155: -9.6875rem;
    --px-154: -9.6250rem;
    --px-153: -9.5625rem;
    --px-152: -9.5000rem;
    --px-151: -9.4375rem;
    --px-150: -9.3750rem;
    --px-149: -9.3125rem;
    --px-148: -9.2500rem;
    --px-147: -9.1875rem;
    --px-146: -9.1250rem;
    --px-145: -9.0625rem;
    --px-144: -9.0000rem;
    --px-143: -8.9375rem;
    --px-142: -8.8750rem;
    --px-141: -8.8125rem;
    --px-140: -8.7500rem;
    --px-139: -8.6875rem;
    --px-138: -8.6250rem;
    --px-137: -8.5625rem;
    --px-136: -8.5000rem;
    --px-135: -8.4375rem;
    --px-134: -8.3750rem;
    --px-133: -8.3125rem;
    --px-132: -8.2500rem;
    --px-131: -8.1875rem;
    --px-130: -8.1250rem;
    --px-129: -8.0625rem;
    --px-128: -8.0000rem;
    --px-127: -7.9375rem;
    --px-126: -7.8750rem;
    --px-125: -7.8125rem;
    --px-124: -7.7500rem;
    --px-123: -7.6875rem;
    --px-122: -7.6250rem;
    --px-121: -7.5625rem;
    --px-120: -7.5000rem;
    --px-119: -7.4375rem;
    --px-118: -7.3750rem;
    --px-117: -7.3125rem;
    --px-116: -7.2500rem;
    --px-115: -7.1875rem;
    --px-114: -7.1250rem;
    --px-113: -7.0625rem;
    --px-112: -7.0000rem;
    --px-111: -6.9375rem;
    --px-110: -6.8750rem;
    --px-109: -6.8125rem;
    --px-108: -6.7500rem;
    --px-107: -6.6875rem;
    --px-106: -6.6250rem;
    --px-105: -6.5625rem;
    --px-104: -6.5000rem;
    --px-103: -6.4375rem;
    --px-102: -6.3750rem;
    --px-101: -6.3125rem;
    --px-100: -6.2500rem;
    --px-99: -6.1875rem;
    --px-98: -6.1250rem;
    --px-97: -6.0625rem;
    --px-96: -6.0000rem;
    --px-95: -5.9375rem;
    --px-94: -5.8750rem;
    --px-93: -5.8125rem;
    --px-92: -5.7500rem;
    --px-91: -5.6875rem;
    --px-90: -5.6250rem;
    --px-89: -5.5625rem;
    --px-88: -5.5000rem;
    --px-87: -5.4375rem;
    --px-86: -5.3750rem;
    --px-85: -5.3125rem;
    --px-84: -5.2500rem;
    --px-83: -5.1875rem;
    --px-82: -5.1250rem;
    --px-81: -5.0625rem;
    --px-80: -5.0000rem;
    --px-79: -4.9375rem;
    --px-78: -4.8750rem;
    --px-77: -4.8125rem;
    --px-76: -4.7500rem;
    --px-75: -4.6875rem;
    --px-74: -4.6250rem;
    --px-73: -4.5625rem;
    --px-72: -4.5000rem;
    --px-71: -4.4375rem;
    --px-70: -4.3750rem;
    --px-69: -4.3125rem;
    --px-68: -4.2500rem;
    --px-67: -4.1875rem;
    --px-66: -4.1250rem;
    --px-65: -4.0625rem;
    --px-64: -4.0000rem;
    --px-63: -3.9375rem;
    --px-62: -3.8750rem;
    --px-61: -3.8125rem;
    --px-60: -3.7500rem;
    --px-59: -3.6875rem;
    --px-58: -3.6250rem;
    --px-57: -3.5625rem;
    --px-56: -3.5000rem;
    --px-55: -3.4375rem;
    --px-54: -3.3750rem;
    --px-53: -3.3125rem;
    --px-52: -3.2500rem;
    --px-51: -3.1875rem;
    --px-50: -3.1250rem;
    --px-49: -3.0625rem;
    --px-48: -3.0000rem;
    --px-47: -2.9375rem;
    --px-46: -2.8750rem;
    --px-45: -2.8125rem;
    --px-44: -2.7500rem;
    --px-43: -2.6875rem;
    --px-42: -2.6250rem;
    --px-41: -2.5625rem;
    --px-40: -2.5000rem;
    --px-39: -2.4375rem;
    --px-38: -2.3750rem;
    --px-37: -2.3125rem;
    --px-36: -2.2500rem;
    --px-35: -2.1875rem;
    --px-34: -2.1250rem;
    --px-33: -2.0625rem;
    --px-32: -2.0000rem;
    --px-31: -1.9375rem;
    --px-30: -1.8750rem;
    --px-29: -1.8125rem;
    --px-28: -1.7500rem;
    --px-27: -1.6875rem;
    --px-26: -1.6250rem;
    --px-25: -1.5625rem;
    --px-24: -1.5000rem;
    --px-23: -1.4375rem;
    --px-22: -1.3750rem;
    --px-21: -1.3125rem;
    --px-20: -1.2500rem;
    --px-19: -1.1875rem;
    --px-18: -1.1250rem;
    --px-17: -1.0625rem;
    --px-16: -1.0000rem;
    --px-15: -0.9375rem;
    --px-14: -0.8750rem;
    --px-13: -0.8125rem;
    --px-12: -0.7500rem;
    --px-11: -0.6875rem;
    --px-10: -0.6250rem;
    --px-9: -0.5625rem;
    --px-8: -0.5000rem;
    --px-7: -0.4375rem;
    --px-6: -0.3750rem;
    --px-5: -0.3125rem;
    --px-4: -0.2500rem;
    --px-3: -0.1875rem;
    --px-2: -0.1250rem;
    --px-1: -0.0625rem;
    --px0: 0.0000rem;
    --px1: 0.0625rem;
    --px2: 0.1250rem;
    --px3: 0.1875rem;
    --px4: 0.2500rem;
    --px5: 0.3125rem;
    --px6: 0.3750rem;
    --px7: 0.4375rem;
    --px8: 0.5000rem;
    --px9: 0.5625rem;
    --px10: 0.6250rem;
    --px11: 0.6875rem;
    --px12: 0.7500rem;
    --px13: 0.8125rem;
    --px14: 0.8750rem;
    --px15: 0.9375rem;
    --px16: 1.0000rem;
    --px17: 1.0625rem;
    --px18: 1.1250rem;
    --px19: 1.1875rem;
    --px20: 1.2500rem;
    --px21: 1.3125rem;
    --px22: 1.3750rem;
    --px23: 1.4375rem;
    --px24: 1.5000rem;
    --px25: 1.5625rem;
    --px26: 1.6250rem;
    --px27: 1.6875rem;
    --px28: 1.7500rem;
    --px29: 1.8125rem;
    --px30: 1.8750rem;
    --px31: 1.9375rem;
    --px32: 2.0000rem;
    --px33: 2.0625rem;
    --px34: 2.1250rem;
    --px35: 2.1875rem;
    --px36: 2.2500rem;
    --px37: 2.3125rem;
    --px38: 2.3750rem;
    --px39: 2.4375rem;
    --px40: 2.5000rem;
    --px41: 2.5625rem;
    --px42: 2.6250rem;
    --px43: 2.6875rem;
    --px44: 2.7500rem;
    --px45: 2.8125rem;
    --px46: 2.8750rem;
    --px47: 2.9375rem;
    --px48: 3.0000rem;
    --px49: 3.0625rem;
    --px50: 3.1250rem;
    --px51: 3.1875rem;
    --px52: 3.2500rem;
    --px53: 3.3125rem;
    --px54: 3.3750rem;
    --px55: 3.4375rem;
    --px56: 3.5000rem;
    --px57: 3.5625rem;
    --px58: 3.6250rem;
    --px59: 3.6875rem;
    --px60: 3.7500rem;
    --px61: 3.8125rem;
    --px62: 3.8750rem;
    --px63: 3.9375rem;
    --px64: 4.0000rem;
    --px65: 4.0625rem;
    --px66: 4.1250rem;
    --px67: 4.1875rem;
    --px68: 4.2500rem;
    --px69: 4.3125rem;
    --px70: 4.3750rem;
    --px71: 4.4375rem;
    --px72: 4.5000rem;
    --px73: 4.5625rem;
    --px74: 4.6250rem;
    --px75: 4.6875rem;
    --px76: 4.7500rem;
    --px77: 4.8125rem;
    --px78: 4.8750rem;
    --px79: 4.9375rem;
    --px80: 5.0000rem;
    --px81: 5.0625rem;
    --px82: 5.1250rem;
    --px83: 5.1875rem;
    --px84: 5.2500rem;
    --px85: 5.3125rem;
    --px86: 5.3750rem;
    --px87: 5.4375rem;
    --px88: 5.5000rem;
    --px89: 5.5625rem;
    --px90: 5.6250rem;
    --px91: 5.6875rem;
    --px92: 5.7500rem;
    --px93: 5.8125rem;
    --px94: 5.8750rem;
    --px95: 5.9375rem;
    --px96: 6.0000rem;
    --px97: 6.0625rem;
    --px98: 6.1250rem;
    --px99: 6.1875rem;
    --px100: 6.2500rem;
    --px101: 6.3125rem;
    --px102: 6.3750rem;
    --px103: 6.4375rem;
    --px104: 6.5000rem;
    --px105: 6.5625rem;
    --px106: 6.6250rem;
    --px107: 6.6875rem;
    --px108: 6.7500rem;
    --px109: 6.8125rem;
    --px110: 6.8750rem;
    --px111: 6.9375rem;
    --px112: 7.0000rem;
    --px113: 7.0625rem;
    --px114: 7.1250rem;
    --px115: 7.1875rem;
    --px116: 7.2500rem;
    --px117: 7.3125rem;
    --px118: 7.3750rem;
    --px119: 7.4375rem;
    --px120: 7.5000rem;
    --px121: 7.5625rem;
    --px122: 7.6250rem;
    --px123: 7.6875rem;
    --px124: 7.7500rem;
    --px125: 7.8125rem;
    --px126: 7.8750rem;
    --px127: 7.9375rem;
    --px128: 8.0000rem;
    --px129: 8.0625rem;
    --px130: 8.1250rem;
    --px131: 8.1875rem;
    --px132: 8.2500rem;
    --px133: 8.3125rem;
    --px134: 8.3750rem;
    --px135: 8.4375rem;
    --px136: 8.5000rem;
    --px137: 8.5625rem;
    --px138: 8.6250rem;
    --px139: 8.6875rem;
    --px140: 8.7500rem;
    --px141: 8.8125rem;
    --px142: 8.8750rem;
    --px143: 8.9375rem;
    --px144: 9.0000rem;
    --px145: 9.0625rem;
    --px146: 9.1250rem;
    --px147: 9.1875rem;
    --px148: 9.2500rem;
    --px149: 9.3125rem;
    --px150: 9.3750rem;
    --px151: 9.4375rem;
    --px152: 9.5000rem;
    --px153: 9.5625rem;
    --px154: 9.6250rem;
    --px155: 9.6875rem;
    --px156: 9.7500rem;
    --px157: 9.8125rem;
    --px158: 9.8750rem;
    --px159: 9.9375rem;
    --px160: 10.0000rem;
    --px161: 10.0625rem;
    --px162: 10.1250rem;
    --px163: 10.1875rem;
    --px164: 10.2500rem;
    --px165: 10.3125rem;
    --px166: 10.3750rem;
    --px167: 10.4375rem;
    --px168: 10.5000rem;
    --px169: 10.5625rem;
    --px170: 10.6250rem;
    --px171: 10.6875rem;
    --px172: 10.7500rem;
    --px173: 10.8125rem;
    --px174: 10.8750rem;
    --px175: 10.9375rem;
    --px176: 11.0000rem;
    --px177: 11.0625rem;
    --px178: 11.1250rem;
    --px179: 11.1875rem;
    --px180: 11.2500rem;
    --px181: 11.3125rem;
    --px182: 11.3750rem;
    --px183: 11.4375rem;
    --px184: 11.5000rem;
    --px185: 11.5625rem;
    --px186: 11.6250rem;
    --px187: 11.6875rem;
    --px188: 11.7500rem;
    --px189: 11.8125rem;
    --px190: 11.8750rem;
    --px191: 11.9375rem;
    --px192: 12.0000rem;
    --px193: 12.0625rem;
    --px194: 12.1250rem;
    --px195: 12.1875rem;
    --px196: 12.2500rem;
    --px197: 12.3125rem;
    --px198: 12.3750rem;
    --px199: 12.4375rem;
    --px200: 12.5000rem;
    --px201: 12.5625rem;
    --px202: 12.6250rem;
    --px203: 12.6875rem;
    --px204: 12.7500rem;
    --px205: 12.8125rem;
    --px206: 12.8750rem;
    --px207: 12.9375rem;
    --px208: 13.0000rem;
    --px209: 13.0625rem;
    --px210: 13.1250rem;
    --px211: 13.1875rem;
    --px212: 13.2500rem;
    --px213: 13.3125rem;
    --px214: 13.3750rem;
    --px215: 13.4375rem;
    --px216: 13.5000rem;
    --px217: 13.5625rem;
    --px218: 13.6250rem;
    --px219: 13.6875rem;
    --px220: 13.7500rem;
    --px221: 13.8125rem;
    --px222: 13.8750rem;
    --px223: 13.9375rem;
    --px224: 14.0000rem;
    --px225: 14.0625rem;
    --px226: 14.1250rem;
    --px227: 14.1875rem;
    --px228: 14.2500rem;
    --px229: 14.3125rem;
    --px230: 14.3750rem;
    --px231: 14.4375rem;
    --px232: 14.5000rem;
    --px233: 14.5625rem;
    --px234: 14.6250rem;
    --px235: 14.6875rem;
    --px236: 14.7500rem;
    --px237: 14.8125rem;
    --px238: 14.8750rem;
    --px239: 14.9375rem;
    --px240: 15.0000rem;
    --px241: 15.0625rem;
    --px242: 15.1250rem;
    --px243: 15.1875rem;
    --px244: 15.2500rem;
    --px245: 15.3125rem;
    --px246: 15.3750rem;
    --px247: 15.4375rem;
    --px248: 15.5000rem;
    --px249: 15.5625rem;
    --px250: 15.6250rem;
    --px251: 15.6875rem;
    --px252: 15.7500rem;
    --px253: 15.8125rem;
    --px254: 15.8750rem;
    --px255: 15.9375rem;
    --px256: 16.0000rem;
    --px257: 16.0625rem;
    --px258: 16.1250rem;
    --px259: 16.1875rem;
    --px260: 16.2500rem;
    --px261: 16.3125rem;
    --px262: 16.3750rem;
    --px263: 16.4375rem;
    --px264: 16.5000rem;
    --px265: 16.5625rem;
    --px266: 16.6250rem;
    --px267: 16.6875rem;
    --px268: 16.7500rem;
    --px269: 16.8125rem;
    --px270: 16.8750rem;
    --px271: 16.9375rem;
    --px272: 17.0000rem;
    --px273: 17.0625rem;
    --px274: 17.1250rem;
    --px275: 17.1875rem;
    --px276: 17.2500rem;
    --px277: 17.3125rem;
    --px278: 17.3750rem;
    --px279: 17.4375rem;
    --px280: 17.5000rem;
    --px281: 17.5625rem;
    --px282: 17.6250rem;
    --px283: 17.6875rem;
    --px284: 17.7500rem;
    --px285: 17.8125rem;
    --px286: 17.8750rem;
    --px287: 17.9375rem;
    --px288: 18.0000rem;
    --px289: 18.0625rem;
    --px290: 18.1250rem;
    --px291: 18.1875rem;
    --px292: 18.2500rem;
    --px293: 18.3125rem;
    --px294: 18.3750rem;
    --px295: 18.4375rem;
    --px296: 18.5000rem;
    --px297: 18.5625rem;
    --px298: 18.6250rem;
    --px299: 18.6875rem;
    --px300: 18.7500rem;
    --px301: 18.8125rem;
    --px302: 18.8750rem;
    --px303: 18.9375rem;
    --px304: 19.0000rem;
    --px305: 19.0625rem;
    --px306: 19.1250rem;
    --px307: 19.1875rem;
    --px308: 19.2500rem;
    --px309: 19.3125rem;
    --px310: 19.3750rem;
    --px311: 19.4375rem;
    --px312: 19.5000rem;
    --px313: 19.5625rem;
    --px314: 19.6250rem;
    --px315: 19.6875rem;
    --px316: 19.7500rem;
    --px317: 19.8125rem;
    --px318: 19.8750rem;
    --px319: 19.9375rem;
    --px320: 20.0000rem;
    --px321: 20.0625rem;
    --px322: 20.1250rem;
    --px323: 20.1875rem;
    --px324: 20.2500rem;
    --px325: 20.3125rem;
    --px326: 20.3750rem;
    --px327: 20.4375rem;
    --px328: 20.5000rem;
    --px329: 20.5625rem;
    --px330: 20.6250rem;
    --px331: 20.6875rem;
    --px332: 20.7500rem;
    --px333: 20.8125rem;
    --px334: 20.8750rem;
    --px335: 20.9375rem;
    --px336: 21.0000rem;
    --px337: 21.0625rem;
    --px338: 21.1250rem;
    --px339: 21.1875rem;
    --px340: 21.2500rem;
    --px341: 21.3125rem;
    --px342: 21.3750rem;
    --px343: 21.4375rem;
    --px344: 21.5000rem;
    --px345: 21.5625rem;
    --px346: 21.6250rem;
    --px347: 21.6875rem;
    --px348: 21.7500rem;
    --px349: 21.8125rem;
    --px350: 21.8750rem;
    --px351: 21.9375rem;
    --px352: 22.0000rem;
    --px353: 22.0625rem;
    --px354: 22.1250rem;
    --px355: 22.1875rem;
    --px356: 22.2500rem;
    --px357: 22.3125rem;
    --px358: 22.3750rem;
    --px359: 22.4375rem;
    --px360: 22.5000rem;
    --px361: 22.5625rem;
    --px362: 22.6250rem;
    --px363: 22.6875rem;
    --px364: 22.7500rem;
    --px365: 22.8125rem;
    --px366: 22.8750rem;
    --px367: 22.9375rem;
    --px368: 23.0000rem;
    --px369: 23.0625rem;
    --px370: 23.1250rem;
    --px371: 23.1875rem;
    --px372: 23.2500rem;
    --px373: 23.3125rem;
    --px374: 23.3750rem;
    --px375: 23.4375rem;
    --px376: 23.5000rem;
    --px377: 23.5625rem;
    --px378: 23.6250rem;
    --px379: 23.6875rem;
    --px380: 23.7500rem;
    --px381: 23.8125rem;
    --px382: 23.8750rem;
    --px383: 23.9375rem;
    --px384: 24.0000rem;
    --px385: 24.0625rem;
    --px386: 24.1250rem;
    --px387: 24.1875rem;
    --px388: 24.2500rem;
    --px389: 24.3125rem;
    --px390: 24.3750rem;
    --px391: 24.4375rem;
    --px392: 24.5000rem;
    --px393: 24.5625rem;
    --px394: 24.6250rem;
    --px395: 24.6875rem;
    --px396: 24.7500rem;
    --px397: 24.8125rem;
    --px398: 24.8750rem;
    --px399: 24.9375rem;
    --px400: 25.0000rem;
    --px401: 25.0625rem;
    --px402: 25.1250rem;
    --px403: 25.1875rem;
    --px404: 25.2500rem;
    --px405: 25.3125rem;
    --px406: 25.3750rem;
    --px407: 25.4375rem;
    --px408: 25.5000rem;
    --px409: 25.5625rem;
    --px410: 25.6250rem;
    --px411: 25.6875rem;
    --px412: 25.7500rem;
    --px413: 25.8125rem;
    --px414: 25.8750rem;
    --px415: 25.9375rem;
    --px416: 26.0000rem;
    --px417: 26.0625rem;
    --px418: 26.1250rem;
    --px419: 26.1875rem;
    --px420: 26.2500rem;
    --px421: 26.3125rem;
    --px422: 26.3750rem;
    --px423: 26.4375rem;
    --px424: 26.5000rem;
    --px425: 26.5625rem;
    --px426: 26.6250rem;
    --px427: 26.6875rem;
    --px428: 26.7500rem;
    --px429: 26.8125rem;
    --px430: 26.8750rem;
    --px431: 26.9375rem;
    --px432: 27.0000rem;
    --px433: 27.0625rem;
    --px434: 27.1250rem;
    --px435: 27.1875rem;
    --px436: 27.2500rem;
    --px437: 27.3125rem;
    --px438: 27.3750rem;
    --px439: 27.4375rem;
    --px440: 27.5000rem;
    --px441: 27.5625rem;
    --px442: 27.6250rem;
    --px443: 27.6875rem;
    --px444: 27.7500rem;
    --px445: 27.8125rem;
    --px446: 27.8750rem;
    --px447: 27.9375rem;
    --px448: 28.0000rem;
    --px449: 28.0625rem;
    --px450: 28.1250rem;
    --px451: 28.1875rem;
    --px452: 28.2500rem;
    --px453: 28.3125rem;
    --px454: 28.3750rem;
    --px455: 28.4375rem;
    --px456: 28.5000rem;
    --px457: 28.5625rem;
    --px458: 28.6250rem;
    --px459: 28.6875rem;
    --px460: 28.7500rem;
    --px461: 28.8125rem;
    --px462: 28.8750rem;
    --px463: 28.9375rem;
    --px464: 29.0000rem;
    --px465: 29.0625rem;
    --px466: 29.1250rem;
    --px467: 29.1875rem;
    --px468: 29.2500rem;
    --px469: 29.3125rem;
    --px470: 29.3750rem;
    --px471: 29.4375rem;
    --px472: 29.5000rem;
    --px473: 29.5625rem;
    --px474: 29.6250rem;
    --px475: 29.6875rem;
    --px476: 29.7500rem;
    --px477: 29.8125rem;
    --px478: 29.8750rem;
    --px479: 29.9375rem;
    --px480: 30.0000rem;
    --px481: 30.0625rem;
    --px482: 30.1250rem;
    --px483: 30.1875rem;
    --px484: 30.2500rem;
    --px485: 30.3125rem;
    --px486: 30.3750rem;
    --px487: 30.4375rem;
    --px488: 30.5000rem;
    --px489: 30.5625rem;
    --px490: 30.6250rem;
    --px491: 30.6875rem;
    --px492: 30.7500rem;
    --px493: 30.8125rem;
    --px494: 30.8750rem;
    --px495: 30.9375rem;
    --px496: 31.0000rem;
    --px497: 31.0625rem;
    --px498: 31.1250rem;
    --px499: 31.1875rem;
    --px500: 31.2500rem;
    --px501: 31.3125rem;
    --px502: 31.3750rem;
    --px503: 31.4375rem;
    --px504: 31.5000rem;
    --px505: 31.5625rem;
    --px506: 31.6250rem;
    --px507: 31.6875rem;
    --px508: 31.7500rem;
    --px509: 31.8125rem;
    --px510: 31.8750rem;
    --px511: 31.9375rem;
    --px512: 32.0000rem;
    --px513: 32.0625rem;
    --px514: 32.1250rem;
    --px515: 32.1875rem;
    --px516: 32.2500rem;
    --px517: 32.3125rem;
    --px518: 32.3750rem;
    --px519: 32.4375rem;
    --px520: 32.5000rem;
    --px521: 32.5625rem;
    --px522: 32.6250rem;
    --px523: 32.6875rem;
    --px524: 32.7500rem;
    --px525: 32.8125rem;
    --px526: 32.8750rem;
    --px527: 32.9375rem;
    --px528: 33.0000rem;
    --px529: 33.0625rem;
    --px530: 33.1250rem;
    --px531: 33.1875rem;
    --px532: 33.2500rem;
    --px533: 33.3125rem;
    --px534: 33.3750rem;
    --px535: 33.4375rem;
    --px536: 33.5000rem;
    --px537: 33.5625rem;
    --px538: 33.6250rem;
    --px539: 33.6875rem;
    --px540: 33.7500rem;
    --px541: 33.8125rem;
    --px542: 33.8750rem;
    --px543: 33.9375rem;
    --px544: 34.0000rem;
    --px545: 34.0625rem;
    --px546: 34.1250rem;
    --px547: 34.1875rem;
    --px548: 34.2500rem;
    --px549: 34.3125rem;
    --px550: 34.3750rem;
    --px551: 34.4375rem;
    --px552: 34.5000rem;
    --px553: 34.5625rem;
    --px554: 34.6250rem;
    --px555: 34.6875rem;
    --px556: 34.7500rem;
    --px557: 34.8125rem;
    --px558: 34.8750rem;
    --px559: 34.9375rem;
    --px560: 35.0000rem;
    --px561: 35.0625rem;
    --px562: 35.1250rem;
    --px563: 35.1875rem;
    --px564: 35.2500rem;
    --px565: 35.3125rem;
    --px566: 35.3750rem;
    --px567: 35.4375rem;
    --px568: 35.5000rem;
    --px569: 35.5625rem;
    --px570: 35.6250rem;
    --px571: 35.6875rem;
    --px572: 35.7500rem;
    --px573: 35.8125rem;
    --px574: 35.8750rem;
    --px575: 35.9375rem;
    --px576: 36.0000rem;
    --px577: 36.0625rem;
    --px578: 36.1250rem;
    --px579: 36.1875rem;
    --px580: 36.2500rem;
    --px581: 36.3125rem;
    --px582: 36.3750rem;
    --px583: 36.4375rem;
    --px584: 36.5000rem;
    --px585: 36.5625rem;
    --px586: 36.6250rem;
    --px587: 36.6875rem;
    --px588: 36.7500rem;
    --px589: 36.8125rem;
    --px590: 36.8750rem;
    --px591: 36.9375rem;
    --px592: 37.0000rem;
    --px593: 37.0625rem;
    --px594: 37.1250rem;
    --px595: 37.1875rem;
    --px596: 37.2500rem;
    --px597: 37.3125rem;
    --px598: 37.3750rem;
    --px599: 37.4375rem;
    --px600: 37.5000rem;
    --px601: 37.5625rem;
    --px602: 37.6250rem;
    --px603: 37.6875rem;
    --px604: 37.7500rem;
    --px605: 37.8125rem;
    --px606: 37.8750rem;
    --px607: 37.9375rem;
    --px608: 38.0000rem;
    --px609: 38.0625rem;
    --px610: 38.1250rem;
    --px611: 38.1875rem;
    --px612: 38.2500rem;
    --px613: 38.3125rem;
    --px614: 38.3750rem;
    --px615: 38.4375rem;
    --px616: 38.5000rem;
    --px617: 38.5625rem;
    --px618: 38.6250rem;
    --px619: 38.6875rem;
    --px620: 38.7500rem;
    --px621: 38.8125rem;
    --px622: 38.8750rem;
    --px623: 38.9375rem;
    --px624: 39.0000rem;
    --px625: 39.0625rem;
    --px626: 39.1250rem;
    --px627: 39.1875rem;
    --px628: 39.2500rem;
    --px629: 39.3125rem;
    --px630: 39.3750rem;
    --px631: 39.4375rem;
    --px632: 39.5000rem;
    --px633: 39.5625rem;
    --px634: 39.6250rem;
    --px635: 39.6875rem;
    --px636: 39.7500rem;
    --px637: 39.8125rem;
    --px638: 39.8750rem;
    --px639: 39.9375rem;
    --px640: 40.0000rem;
    --px641: 40.0625rem;
    --px642: 40.1250rem;
    --px643: 40.1875rem;
    --px644: 40.2500rem;
    --px645: 40.3125rem;
    --px646: 40.3750rem;
    --px647: 40.4375rem;
    --px648: 40.5000rem;
    --px649: 40.5625rem;
    --px650: 40.6250rem;
    --px651: 40.6875rem;
    --px652: 40.7500rem;
    --px653: 40.8125rem;
    --px654: 40.8750rem;
    --px655: 40.9375rem;
    --px656: 41.0000rem;
    --px657: 41.0625rem;
    --px658: 41.1250rem;
    --px659: 41.1875rem;
    --px660: 41.2500rem;
    --px661: 41.3125rem;
    --px662: 41.3750rem;
    --px663: 41.4375rem;
    --px664: 41.5000rem;
    --px665: 41.5625rem;
    --px666: 41.6250rem;
    --px667: 41.6875rem;
    --px668: 41.7500rem;
    --px669: 41.8125rem;
    --px670: 41.8750rem;
    --px671: 41.9375rem;
    --px672: 42.0000rem;
    --px673: 42.0625rem;
    --px674: 42.1250rem;
    --px675: 42.1875rem;
    --px676: 42.2500rem;
    --px677: 42.3125rem;
    --px678: 42.3750rem;
    --px679: 42.4375rem;
    --px680: 42.5000rem;
    --px681: 42.5625rem;
    --px682: 42.6250rem;
    --px683: 42.6875rem;
    --px684: 42.7500rem;
    --px685: 42.8125rem;
    --px686: 42.8750rem;
    --px687: 42.9375rem;
    --px688: 43.0000rem;
    --px689: 43.0625rem;
    --px690: 43.1250rem;
    --px691: 43.1875rem;
    --px692: 43.2500rem;
    --px693: 43.3125rem;
    --px694: 43.3750rem;
    --px695: 43.4375rem;
    --px696: 43.5000rem;
    --px697: 43.5625rem;
    --px698: 43.6250rem;
    --px699: 43.6875rem;
    --px700: 43.7500rem;
}